:root {
  --darkblue: #2B2D42;
  --bluegrey: rgba(42, 44, 65, 0.75);
  --lightgrey: #8B939C;
}

/* /////// BASE /////// */
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#wrapper {
  background-color: #8B939C;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 180px;
}

main {
  width: 80%;
}

#contenu {
  display: flex;
  flex-direction: column;
}

/* //////////////////////////////// */
/* //////////// HEADER //////////// */
/* //////////////////////////////// */
header {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 20px;
  background-color: var(--darkblue);
  box-shadow: rgb(35, 51, 67) 0px 20px 30px -10px;

  #logo-container {
    color: white;
    display: flex;
    align-items: center;

    img {
      width: 50px;
      background-color: #520000;
      border-radius: 50%;
      margin-right: 5px;
    }
  }

  #search {
    min-width: 250px;
    width: 25%;

    input {
      height: 40px;
      width: 100%;
      border-radius: 15px;
      padding: 10px;
    }
  }

  nav {
    transition: 0.3s;

    ul {
      display: flex;

      a {
        color: white;
        padding: 5px;
      }
    }
  }

  #connect-button {
    color: white;
    text-decoration: none;
    background-color: var(--lightgrey);
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
  }

  /* menu burger buttons */
  #close-button {
    padding: 5px;
    position: absolute;
    right: 50px;
    top: 25px;
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
  }

  #toggle-menu {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
  }
}

/* //////////////////////////////// */
/* /////////// COMMONS //////////// */
/* //////////////////////////////// */

h3,
h4 {
  background-color: var(--darkblue);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  width: fit-content;
}

h3 {
  margin: 10px auto 20px auto;
  font-size: 2.2rem;
}

h4 {
  margin: 10px 0 10px 15px;
  font-size: 1.5rem;
}

.title {
  font-weight: 600;
}

.note {
  color: yellow;
  position: absolute;
  top: 10px;
  right: 20px;
  background-color: var(--bluegrey);
  padding: 5px;
  border-radius: 5px;
}

/*//////// CARDS CONTAINER /////////*/

.cards-container {
  display: flex;
  overflow: hidden;

  figure {
    color: var(--darkblue);
    font-weight: 600;
    position: relative;
    margin: 2px;

  }

  img {
    width: 200px;
    height: 280px;
  }

  figcaption {
    padding: 0 5px;
  }
}

/* //////////////////////////////// */
/* /////////// ACCUEIL //////////// */
/* //////////////////////////////// */

section {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

hr {
  margin: 20px auto 5px auto;
  width: 60%;
  border-width: 3px;
}

/*/////////////// UNE ///////////////*/

#une article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--darkblue);
  color: white;
  border-radius: 15px;
  overflow: hidden;
  height: 620px;

  figure {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 100%;
    }
  }

  aside {
    padding: 20px;
    position: relative;

    .title {
      padding-left: 5%;
    }

    .subtitle {
      margin: 5px 0 10px 0;
      padding-left: 5%;

      a {
        color: #89EAFF;
      }
    }

    .synopsis {
      text-align: justify;
    }

    .see-more {
      font-size: 0.8rem;
      margin-top: 5px;
      text-align: end;

      a {
        color: var(--lightgrey);
      }
    }

    .acteurs {
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        margin: 10px;
      }

      .cards-container {
        justify-content: center;

        img {
          padding: 20px;
          width: 115px;
          height: 150px;
        }
      }
    }
  }
}

/*//////// FILMS DU MOMENT /////////*/

#filmsMoment {
  align-items: center;

  .cards-container {
    justify-content: space-evenly;
    width: 100%;
  }
}

/*///////// PARCOURS GENRE /////////*/

#genres-header {
  background-color: var(--darkblue);
  width: 80%;
  margin: 10px auto 20px auto;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;

  h3 {
    margin: 0;
    padding: 0;
  }

  a {
    align-self: flex-end;
    color: var(--lightgrey);
    margin: 5px;
  }
}

/*/////////// CARROUSSEL ///////////*/

.carroussel {
  margin: 20px 0;
  position: relative;
  display: flex;
  align-items: center;

  .arrow {
    font-size: 2rem;
    color: var(--darkblue);
    position: absolute;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
  }

  .arrow-left {
    left: -50px;
  }

  .arrow-right {
    right: -50px;
  }
}

/* //////////////////////////////// */
/* ////////// FILMS GENRE ///////// */
/* //////////////////////////////// */

#filmsGenre .cards-container {
  flex-wrap: wrap;
  justify-content: center;

  figcaption {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
  }
}

/* //////////////////////////////// */
/* ///////// MEDIA QUERIES //////// */
/* //////////////////////////////// */

@media screen and (max-width: 1200px) {
  #une article {
    flex-direction: column;
    overflow: visible;
    height: auto;
    background-color: var(--lightgrey);

    figure {
      padding: 50px;
      background-color: var(--lightgrey);
      width: 90%;

      img {
        height: auto;
        width: 100%;
      }
    }

    aside {
      border-radius: 15px;
      background-color: var(--darkblue);
      overflow: hidden;
      max-width: 80%;
    }
  }
}

/* header order change */
@media screen and (max-width: 800px) {
  header {
    #logo-container {
      order: 1;
    }

    #connect-button,
    nav {
      order: 2;
    }

    #search {
      display: none;
    }

    #toggle-menu {
      order: 3;
    }
  }
}

/* menu burger positioning */
@media screen and (max-width: 600px) {
  header nav {

    position: absolute;
    top: 0;
    right: -70%;
    background-color: var(--bluegrey);
    backdrop-filter: blur(4px);
    width: 70%;
    padding-top: 75px;
    height: 100vh;

    ul {
      flex-direction: column;

      li {
        padding: 20px;
      }
    }
  }

  /* JS */
  .show-menu {
    right: 0;
  }
}

@media screen and (min-width: 600px) {

  #close-button,
  #toggle-menu {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  #genres-header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    a {
      align-self: auto;
    }
  }
}

@media screen and (min-width: 1200px) {

  h3 {
    font-size: 3rem;
  }

  h4 {
    font-size: 2.2rem;
  }

  .title {
    font-size: 2.5rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .synopsis {
    font-size: 1rem;
  }

  p {
    font-size: 1.2rem;
  }
}